<article>
  <div class="title">
      <h1>Comandos de voz disponibles</h1>
      <button type="button" class="btn__info" (click)="redirect('home')" title ="Go to Home">Cerrar</button>
  </div>
  <div class="grid">
      <div class="col1">
          <table>
              <tbody>
                  <tr>
                      <th rowspan="4">LUCES</th>
                      <td colspan="3">Cruce</td>
                  </tr>
                  <tr>
                      <td colspan="3">Largas</td>
                  </tr>
                  <tr>
                      <td rowspan="2">Antiniebla</td>
                      <td colspan="2">Delantera</td>
                  </tr>
                  <tr>
                      <td colspan="2">Traseras</td>
                  </tr>
                  <tr>
                      <th rowspan="5">PARABRISAS</th>
                      <td rowspan="4">Delantero</td>
                      <td colspan="2">Agua</td>
                  </tr>
                  <tr>
                      <td colspan="2">Velocidad Baja</td>
                  </tr>
                  <tr>
                      <td colspan="2">Velocidad Media</td>
                  </tr>
                  <tr>
                      <td colspan="2">Velocidad Alta</td>
                  </tr>
                  <tr>
                      <td >Trasero</td>
                      <td colspan="2">Agua</td>
                  </tr>
                  <tr>
                      <th rowspan="16">RETROVISOR</th>
                      <td rowspan="8">Derecho</td>
                      <td rowspan="2">Arriba</td>
                      <td rowspan="8">Más/Menos</td>
                  </tr>
                  <tr>
                  </tr>
                  <tr>
                      <td rowspan="2">Abajo</td>
                  </tr>
                  <tr>
                  </tr>
                  <tr>
                      <td rowspan="2">Izquierda</td>
                  </tr>
                  <tr>
                  </tr>
                  <tr>
                      <td rowspan="2">Derecha</td>
                  </tr>
                  <tr></tr>
                  <tr>
                      <td rowspan="8">Izquierdo</td>
                      <td rowspan="2">Arriba</td>
                      <td rowspan="8">Mas/Menos</td>
                  </tr>
                  <tr>
                  </tr>
                  <tr>
                      <td rowspan="2">Abajo</td>
                  </tr>
                  <tr>
                  </tr>
                  <tr>
                      <td rowspan="2">Izquierda</td>
                  </tr>
                  <tr>
                  </tr>
                  <tr>
                      <td rowspan="2">Derecha</td>
                  </tr>
                  <tr>
                  </tr>
                  <tr>
              </tbody>
          </table>
      </div>
      <div class="col2">
          <table>
              <tr>
                  <th rowspan="12">VENTANILLA</th>
                  <td rowspan="6">Delantera</td>
                  <td rowspan="3">Derecha</td>
                  <td rowspan="12">Sube/Baja/Para</td>
              </tr>
              <tr></tr>
              <tr></tr>
              <tr>
                  <td rowspan="3">Izquierda</td>
              </tr>
              <tr></tr>
              <tr></tr>
              <tr>
                  <td rowspan="6">Trasera</td>
                  <td rowspan="3">Derecha</td>
              </tr>
              <tr></tr>
              <tr></tr>
              <tr>
                  <td rowspan="3">Izquierda</td>
              </tr>
              <tr></tr>
              <tr></tr>
              <tr>
                  <th>TEMPERATURA</th>
                  <td>Grados</td>
                  <td colspan="2">De 16 a 30</td>
              </tr>
              <tr>
                  <th>VENTILADOR</th>
                  <td>Velocidad</td>
                  <td colspan="2">De 1 a 5</td>
              </tr>
              <tr>
                  <th>RADIO</th>
                  <td>Emisora</td>
                  <td colspan="2">Nombre de la emisora</td>
              </tr>
              <tr>
                  <th rowspan="6">REPRODUCTOR</th>
                  <td rowspan="2">CD</td>
                  <td rowspan="6" colspan="2">Play/Pausa/ Siguente/Anterior</td>
              </tr>
              <tr></tr>
              <tr>
                  <td rowspan="2">USB</td>
              </tr>
              <tr></tr>
              <tr>
                  <td rowspan="2">Bluetooth</td>
              </tr>
              <tr></tr>
              <tr>
                  <th rowspan="4">TELEFONO</th>
                  <td>Agenda</td>
                  <td rowspan="2" colspan="2">Nombre del contacto</td>
              </tr>
              <tr>
                  <td>LLamar a...</td>

              </tr>
              <tr>
                  <td colspan="3">Colgar</td>
              </tr>
              <tr>
                  <td colspan="3">Descolgar</td>
              </tr>
          </table>
      </div>
  </div>
</article>
