@import "../../../partials/mixin";

.btn__info {
  position: absolute;
  right: 20px;
  padding-top: 24px;
  margin-left: auto;
  fill: red;
  width: 62px;
  @include btn__info;
}

.icon {
  @include icon;
}

.grid {
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  display: flex;
  justify-content: space-around;

}

table {
  border-collapse: collapse;
  border: 2px solid;

}

th,
td {
  border: 1px solid;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}
th{
  background-color:rgb(150, 146, 146);

}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 24px;
}
