<!--====================================BOTONERA==================================================-->
<div class="container">
  <div class="musica">
    <div class="botonera">
      <button type="button" class="botonera__btn" [class.botonera__btn--radio]="seleccion === 'radio'" (click)="hideRadio()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <path
            d="M3.24 6.15C2.51 6.43 2 7.17 2 8v12c0 1.1.89 2 2 2h16c1.11 0 2-.9 2-2V8c0-1.11-.89-2-2-2H8.3l8.26-3.34L15.88 1 3.24 6.15zM7 20c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm13-8h-2v-2h-2v2H4V8h16v4z" />
          <path d="M0 0h24v24H0z" fill="none" /></svg></button>

      <button type="button" class="botonera__btn" [class.botonera__btn--usb]="seleccion === 'auxiliar'" (click)="hideUsb()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M15 7v4h1v2h-3V5h2l-3-4-3 4h2v8H8v-2.07c.7-.37 1.2-1.08 1.2-1.93 0-1.21-.99-2.2-2.2-2.2-1.21 0-2.2.99-2.2 2.2 0 .85.5 1.56 1.2 1.93V13c0 1.11.89 2 2 2h3v3.05c-.71.37-1.2 1.1-1.2 1.95 0 1.22.99 2.2 2.2 2.2 1.21 0 2.2-.98 2.2-2.2 0-.85-.49-1.58-1.2-1.95V15h3c1.11 0 2-.89 2-2v-2h1V7h-4z" />
        </svg></button>

      <button type="button" class="botonera__btn"[class.botonera__btn--bluetooth]="seleccion === 'bluetooth'" (click)="hideBluetooth()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M11 24h2v-2h-2v2zm-4 0h2v-2H7v2zm8 0h2v-2h-2v2zm2.71-18.29L12 0h-1v7.59L6.41 3 5 4.41 10.59 10 5 15.59 6.41 17 11 12.41V20h1l5.71-5.71-4.3-4.29 4.3-4.29zM13 3.83l1.88 1.88L13 7.59V3.83zm1.88 10.46L13 16.17v-3.76l1.88 1.88z" />
        </svg></button>

      <h2>MUSICA</h2>

      <button type="button" class="botonera__btn" (click)="anterior()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <path d="M11 18V6l-8.5 6 8.5 6zm.5-6l8.5 6V6l-8.5 6z" />
          <path d="M0 0h24v24H0z" fill="none" /></svg></button>

     <button type="button" class="botonera__btn" (click)="play()" [class.botonera__btn--play]="seleccion !== 'play'"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z" />
          <path d="M0 0h24v24H0z" fill="none" /></svg></button>

      <button type="button" class="botonera__btn" (click)="play()" [class.botonera__btn--play]="seleccion === 'play'">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <path d="M8 5v14l11-7z" />
          <path d="M0 0h24v24H0z" fill="none" /></svg></button>

      <button type="button" class="botonera__btn" (click)="siguiente()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
          <path d="M0 0h24v24H0z" fill="none" /></svg></button>
    </div>
    <!--==========================================PANTALLA===============================================-->
    <div class="up">
      <!--VOLUMEN-->
      <div class="volumen">
        <button class="btn__clima" (click)="bajarVolumen()"></button>
        <div class="velocidad">
          <div [className]="divPintados[0] ? 'volumen__1 pintar' : 'volumen__1'"></div>
          <div [className]="divPintados[1] ? 'volumen__2 pintar' : 'volumen__2'"></div>
          <div [className]="divPintados[2] ? 'volumen__3 pintar' : 'volumen__3'"></div>
          <div [className]="divPintados[3] ? 'volumen__4 pintar' : 'volumen__4'"></div>
          <div [className]="divPintados[4] ? 'volumen__5 pintar' : 'volumen__5'"></div>
        </div>
        <button class="btn__clima" (click)="subirVolumen()"></button>
      </div>

      <!--==============================================TEMP RADIO TELEF GPS==================================-->
      <!--RADIO-->
      <div class="radio" [class.radio--hidden]="seleccion !== 'radio'">
        <button (click)="playRadio()" >Radio 3</button>
        <p (click)="playRadio()" >Rock FM</p>
        <p (click)="playRadio()" >SER</p>
        <p (click)="playRadio()" >M 80</p>
      </div>
      <!--USB-->
      <div class="usb" [class.usb--hidden]="seleccion !== 'auxiliar'">
        <p>Este dispositivo no tiene contenido</p>
      </div>
      <!--Bluetooth-->
      <div class="bluetooth" [class.bluetooth--hidden]="seleccion !== 'bluetooth'">
        <h3>Los vinagres</h3>
        <p>Album: Los volcanes</p>
        <p>Cancion: Chibichanga</p>
      </div>
      <!--=====================================-->
      <svg version="1.1" id="Capa_1" height="200px" width="400px" viewBox="0 0 822.1 426.4"
        style="enable-background:new 0 0 822.1 426.4;" xml:space="preserve">
        <style type="text/css">
          .st0 {
            fill: #FFFFFF;
          }
        </style>
        <path d="M0,0v366.3v3v57h822.1v-57v-3V0H0z M819.1,423.4H3v-54.1h816.1V423.4z M3,366.3V3h816.1v363.4H3z" />
        <path d="M514.3,285c0-3.4,0-6.7,0-10c0-2.3-0.1-2.4-2.5-2.4c-6.3,0-12.4,0-18.7,0c-1,0-2.1,0.2-3-0.1c-0.7-0.2-1.5-0.9-1.7-1.5
            c-0.4-1,0.1-2.1,1.3-2.4c1.3-0.3,2.6-0.5,3.9-0.5c6.1-0.1,12.2,0,18.3,0c2.4,0,2.5-0.1,2.5-2.5c0.1-6.1,0-12.2,0-18.3c0-1,0-2,0-3.1
            c0-1.3,0.9-1.6,2.1-1.7c1.3,0,2.4,0.2,2.4,1.8c0,3.5,0,7,0,10.4c0,3.5,0,7,0,10.4c0,2.6,0.1,2.7,2.7,2.7c6,0.1,11.9,0,17.8,0
            c1.2,0,2.3,0,3.5,0.3c1.4,0.3,1.7,1.6,1.3,2.8c-0.2,0.6-1.2,1.3-1.8,1.3c-5.4,0.1-10.7,0.1-16.1,0.1c-1.6,0-3.2,0-4.8,0
            c-1.8-0.1-2.7,0.7-2.6,2.6c0,4.2,0,8.4,0,12.6c0,2.8,0,5.5,0,8.2c0,1.5-0.3,2.6-2.1,2.6c-1.9,0-2.3-0.4-2.4-2.7
            C514.3,292.2,514.3,288.6,514.3,285z" />
        <path fill=" rgb(70, 68, 68)" d="M315.6,116c-2.3-0.5-4.6-0.9-6.8-1.4c-2.8-0.7-5.6-1.5-8.3-2.2c-2.4-0.6-4.5-0.4-6.2,1.8c-1.9,2.4-4,4.6-6.1,6.8
            c-1.8,1.9-3.8,3.1-6.6,1.9c-3.6-1.5-4.8-4.8-2.9-8c0.7-1.2,1.7-2.4,2.7-3.4c2.5-2.8,5.1-5.6,7.5-8.4c2.4-2.9,5.4-3.8,8.9-3
            c3.3,0.7,6.5,1.3,9.7,2.2c1.9,0.5,2.9-0.1,3.8-1.8c1.7-3.2,3.5-6.4,5.5-9.3c3.5-5.4,9.7-3.9,12.2,1c0.8,1.5,1.1,3,0.3,4.6
            c-3,5.7-5.9,11.3-8.8,16.9C319.5,115.5,317.7,115.9,315.6,116z M297.1,108.4c1.2,0.4,1.9,0.6,2.6,0.8c4.9,1.2,9.8,2.3,14.7,3.6
            c1.9,0.5,3,0,3.9-1.7c1.2-2.3,2.5-4.6,3.7-6.9c1.4-2.6,2.7-5.2,4-7.7c0.7-1.4,0.5-2.8-0.6-4c-1.2-1.2-2.6-1.4-4-0.9
            c-0.8,0.3-1.6,1.2-2.1,2c-1.9,3.1-3.8,6.2-5.5,9.3c-1,2-2.5,2.8-4.6,2.6c-1.3-0.1-2.6-0.1-3.9-0.4c-2.9-0.5-5.8-0.9-8.4-1.7
            c-2.2-0.7-3.6,0-5,1.5c-2.3,2.6-4.7,5.2-7.1,7.7c-1.2,1.3-2.3,2.6-3.2,4.1c-0.4,0.6-0.4,2,0,2.4c0.6,0.6,1.8,0.9,2.7,0.8
            c0.7-0.1,1.4-0.9,2-1.5c2.3-2.4,4.5-5,6.9-7.2C294.3,109.9,295.9,109.1,297.1,108.4z" />
        <path d="M300.1,272.6c-8.1,0-16.2,0-24.3,0c-1.3,0-3.1,0.6-3.4-1.7c-0.2-1.7,0.7-2.5,3.1-2.8c0.9-0.1,1.7,0,2.6,0
            c15,0,30.1,0,45.1,0c0.9,0,1.8,0,2.6,0c1.5,0.1,2.4,0.8,2.4,2.5c0,1.9-1.2,2-2.6,2c-7.3,0-14.7,0-22.1,0
            C302.4,272.6,301.3,272.6,300.1,272.6z" />
      </svg>
    </div>
  </div>
