<main>
  <button type="button" class="btn__info--close" (click)="redirect('home')" title="Go to Home">Cerrar</button>
  <button type="button" class="btn__info--regis" (click)="redirect('registro')"
    title="Go to Registro">Registrate</button>

  <form #form="ngForm" (ngSubmit)="onSave(form.value)">
    <i><svg xmlns="http://www.w3.org/2000/svg" heigth="72" width="72" viewBox="0 0 24 24">
        <path
          d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z" />
        <path d="M0 0h24v24H0z" fill="none" /></svg></i>
    <mat-form-field>
      <input matInput type="text" name="email" placeholder="Email" #name="ngModel" ngModel required>
      <mat-error *ngIf="name.errors?.required">Campo requerido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" name="password" matInput placeholder="Contraseña" #password="ngModel" ngModel required>
      <mat-error *ngIf="password.errors?.required">Campo requerido</mat-error>
    </mat-form-field>

    <button type="submit" class="btn__info--save" title="Go to Home" [disabled]="!form.valid">Enviar</button>

  </form>
</main>
