@import "../../../partials/mixin";

main{
  padding: 24px;
}
i{
  fill:darkgrey;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.btn__info {

  &--save {
    @include btn__info;
    &:hover{
      color:greenyellow;
    }
  }

  &--close {
    position: absolute;
    right: 20px;
    margin-left: auto;
    @include btn__info;
    &:hover{
      color:red;
    }
  }
}

